<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--py:match path="minornavigation">
    <ul class="nav nav-pills" py:choose="bool(c.group)">
        <li class="${'active' if c.action=='index' else ''}">
          ${h.subnav_named_route(c, h.icon('category') + _('List Categories'), "category_index", action="index" )}
        </li>
    </ul>
  </py:match-->

  <xi:include href="layout.html" />
</html>
